---
import SwiperSlide from '@components/slider/Slide.astro'
import SkillBar from './skill-bar.astro'

type Skill = {
  label: string,
  icon: string,
  color: string,
  experience: {
    years: number,
    moreThan: boolean
  },
  categories: Array<string>
}

const skills: Array<Skill> = [
  {
    label: 'javascript (vanilla)',
    icon: 'nf-dev-javascript_badge ',
    color: 'yellow',
    experience: {
      years: 20,
      moreThan: true
    },
    categories: [
      'all',
      'front-end',
      'back-end'
    ]
  },
  {
    label: 'bootstrap',
    icon: 'nf-md-bootstrap ',
    color: 'cyan',
    experience: {
      years: 10,
      moreThan: true
    },
    categories: [
      'front-end',
    ]
  },
  {
    label: 'php',
    icon: 'nf-md-language_php',
    color: 'purple',
    experience: {
      years: 15,
      moreThan: true
    },
    categories: [
      'back-end',
    ]
  },
  {
    label: 'css',
    icon: 'nf-dev-css3',
    color: 'blue',
    experience: {
      years: 15, 
      moreThan: true
    },
    categories: [
      'front-end'
    ]
  },
  {
    label: 'twig',
    icon: 'nf-seti-twig',
    color: 'green',
    experience: {
      years: 6, 
      moreThan: false
    },
    categories: [
      'front-end'
    ]
  },
  {
    label: 'laravel',
    icon: 'nf-fa-laravel',
    color: 'red',
    experience: {
      years: 3, 
      moreThan: false
    },
    categories: [
      'front-end',
      'back-end'
    ]
  },
  {
    label: 'bash',
    icon: 'nf-md-bash',
    color: 'green',
    experience: {
      years: 3, 
      moreThan: false
    },
    categories: [
      'back-end'
    ]
  },
  {
    label: 'TypeScript',
    icon: 'nf-md-language_typescript',
    color: 'yellow',
    experience: {
      years: 4,
      moreThan: true
    },
    categories: [
      'front-end',
      'back-end'
    ]
  },
  {
    label: 'sass',
    icon: 'nf-dev-sass',
    color: 'pink',
    experience: {
      years: 5,
      moreThan: true
    },
    categories: [
      'front-end'
    ]
  },
  {
    label: 'lua',
    icon: 'nf-md-language_lua',
    color: 'pink',
    experience: {
      years: 3,
      moreThan: true
    },
    categories: [
      'back-end'
    ]
  },
  {
    label: 'rust',
    icon: 'nf-md-language_lua',
    color: 'red',
    experience: {
      years: 1,
      moreThan: false
    },
    categories: [
      'back-end'
    ]
  },
]
const max_years = 25
const skill_categories = [... new Set(skills.map((skill:Skill) => skill.categories.find((item) => (item  != 'all'))).flat(1))]

import 'swiper/css';
import 'swiper/css/navigation';
---
<script>
  import Swiper from 'swiper';

  document.addEventListener('astro:page-load', () => {
    const slideshow = new Swiper('.skill-swiper', {
      navigation: {
        enabled: false,
      },
      centeredSlides: true,
      centeredSlidesBounds: true
    })

    const buttons = document.getElementsByClassName('skills-list-category')

    buttons[0].classList.add('active')

    for(var button of buttons) {
      button.addEventListener('click', function () {
        slideTo(this)
      })
    }

    const slideTo = (item:Element) => {
      for(var button of buttons) {
        button.classList.toggle('active')
      }

      slideshow.slideTo(Number(item.id))
    }
  })
</script>
<div class="skills">
  <ul class="skills-list">
    {skill_categories.map((skillset, index) => (
    <li class=`mr-4 last-of-type:mr-0 cursor-pointer text-dark-100 px-2 transition-all skills-list-category` id=`${index}`>
      {skillset}
    </li>
    ))}
  </ul>
  <div class="skill-swiper overflow-hidden">
    <div class="swiper-wrapper w-full">
      {skill_categories.map((skillset) => (  
      <SwiperSlide id=`${skillset}` class="w-full">
        <!-- <h3 class="text-orange pb-1 my-2 border-b border-orange">{skillset}</h3>  -->
        {skills.filter(skill => skill.categories.find((item) => item === skillset)).map(( displaySkill:Skill ) => (
          <SkillBar skill={displaySkill} />
        ))}
      </SwiperSlide>
      ))}
    </div>
  </div>
</div>
